In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Cleaned_DS_Jobs.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,Seniority,job_simp
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,28,0,0,0,0,1,0,0,senior,data scientist
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,53,0,0,1,0,0,0,0,na,data scientist
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,40,1,1,0,0,1,0,0,na,data scientist
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,21,1,1,0,0,1,0,0,na,data scientist
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,23,1,1,0,0,0,0,0,na,data scientist

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'min_salary', 'max_salary',
       'avg_salary', 'job_state', 'same_state', 'company_age', 'python',
       'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big_data', 'Seniority',
       'job_simp'],
      dtype='object')

In [6]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'vice president' in title.lower():
        return 'vp'
    else:
        return 'na'

def seniority(title):
    title=title.lower()
    snr=['sr','senior','lead','principal','vp','vice president','director']
    for i in snr:
        if i in title:
            return "senior"
    if "jr" in title:
        return "jr"
    return "na"

In [7]:
 df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [9]:
df.job_simp.value_counts()

data scientist    440
na                 67
analyst            55
data engineer      45
mle                34
manager             7
director            3
vp                  1
Name: job_simp, dtype: int64

In [11]:
df['seniority'] = df['Job Title'].apply(seniority)

In [12]:
df.seniority.value_counts()

na        556
senior     95
jr          1
Name: seniority, dtype: int64

In [14]:
#Fix state los Angeles
df.job_state.value_counts()

CA    155
VA     89
MA     62
NY     52
MD     40
IL     30
DC     26
TX     18
WA     16
OH     14
NJ     12
PA     12
MO     12
US     11
CO     10
GA      9
NC      9
FL      8
TN      8
OK      6
WI      6
MI      5
IN      5
MN      4
AZ      4
AL      4
CT      4
NE      3
IA      3
RI      2
UT      2
SC      2
OR      2
NH      2
MS      1
LA      1
KS      1
DE      1
WV      1
Name: job_state, dtype: int64